@model IEnumerable<TKPM_Project.Models.Account>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var account in Model)
        {
            <li>@account.Id - @account.Username - @account.Role</li>
        }
    </ul>
</div>
