@model IEnumerable<TKPM_Project.Models.Account>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>

    <ul>
        @foreach (var account in Model)
        {
            <li>@account.Id - @account.Username - @account.Role</li>
        }
    </ul>
</div>
