@model IEnumerable<ITool>

<div class="text-center">
    <h1 class="display-4">Tools Available</h1>

    <ul>
        @foreach (var tool in Model)
        {
            <li>
                Tool: @tool.GetName() -
                Description: @tool.GetDescription() -
                Path: @tool.GetPath()
            </li>
        }
    </ul>
</div>
